pkgbase = subtitlecomposer
	pkgdesc = A KDE subtitle editor
	pkgver = 0.5.6
	pkgrel = 2
	url = https://github.com/maxrd2/subtitlecomposer
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = automoc4
	makedepends = git
	depends = kdelibs
	depends = gettext
	optdepends = mplayer: for MPlayer backend
	optdepends = mplayer2: for MPlayer backend
	optdepends = gstreamer: for GStreamer backend
	optdepends = xine-lib: for Xine backend
	conflicts = subtitlecomposer-git
	source = subtitlecomposer-0.5.6.tar.gz::https://github.com/maxrd2/subtitlecomposer/archive/v0.5.6.tar.gz
	sha256sums = f55f3330e72a9a9f19f00674651d7d4c6cd7e19993a14d1deedfa6d34737cf0f

pkgname = subtitlecomposer

